$warning-red-color: rgb(214, 41, 41);
$white-color: rgb(255, 255, 255);
$background-color: rgba(37, 44, 57, 1);
$secondary-color: rgb(92, 107, 192);
$primary-color:$secondary-color;// rgba(63, 81, 181, 1);
$scroll-primary-color: rgb(92, 107, 192);
$scroll-secondary-color: rgb(255, 255, 255);
$filter-button-normal-color: $secondary-color;// rgb(63, 81, 181);
$filter-button-kill-color: rgb(230, 196, 46);
$filter-button-logs-color: rgb(33, 150, 243);
$filter-button-active-color: rgb(0, 150, 136);
$filter-button-deleted-color: rgb(233, 30, 99);

.warning-color{
    color: $warning-red-color;
}

.display-none{
    display: none;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Hack fix for the text style clashes for now [TODO: Please find a proper fix]
// !important hack fixes will remain fine until we need text elements that require unique styling **
h3, h4, p{
    font-family: Arial, Helvetica, sans-serif !important;
    color: $white-color !important;
    line-height: initial !important;
    letter-spacing: initial !important;
}

#texture-monitor-container{
    font-family: Arial, Helvetica, sans-serif;
    background-color: $background-color;
    font-size: 16px; // ROOT FONT SIZE FOR EM CALCULATIONS
    position: fixed;
    z-index: 100000;
    left: 0;
    bottom: 0;
    width: 100vw;
    transform: translateY(100%);
    transition: transform 0.25s ease-in-out;
    user-select: none;
    height: 12.6em;
    padding: 1em;

    .monitor-toggle{
        position: absolute;
        z-index: 1000;
        left: 1.5em;
        top: 0.0625em;
        transform: translateY(-100%);
        height: 2em;
        background-color: $primary-color;
        border-radius: 0.2em 0.2em 0 0;
        box-shadow: 0 -0.125em 0.4375em hsla(0, 0, 0, 0.3);
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 0.5em 0.75em;
        cursor: pointer;
        text-shadow: 0 0 0.8em $primary-color;
        touch-action: pan-y;

        & > *{
            pointer-events: none;
        }

        span{
            background-color: $primary-color;
            text-shadow: none;
            padding: 0.0em 0.8em;
            border-radius: 0.1em;
            margin-left: 0.5em;
            box-shadow: 0 0 0.5em $primary-color;
        }

        #toggle-chevron{
            transition: transform 0.25s ease-in-out;
        }
    }

    #resizer{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 0.5em;
        cursor: ns-resize;
    }

    .entities-wrapper{
        overflow-y: auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, 9.375em);
        height: 100%;
        width: 100%;
        position: relative;
        justify-content: center;
        align-content: start;
        gap: 1em;
        margin-top: 0.2em;
        padding-right: 0.2em;
        overscroll-behavior: contain;

        .texture-entity{
            position: relative;

            .texture-wrapper{
                width: 9.375em;
                height: 6.375em;
                position: relative;
                background-image: linear-gradient(45deg, #c7c7c7 25%, transparent 25%), linear-gradient(-45deg, #c7c7c7 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #c7c7c7 75%), linear-gradient(-45deg, transparent 75%, #c7c7c7 75%);
                background-size: 1.875em 1.875em;
                background-position: 0 0, 0 0.9375em, 0.9375em -0.9375em, -0.9375em 0;
                background-color: #777777;
                border-radius: 0.1em 0.1em 0 0;

                .texture{
                    position: absolute;
                    display: block;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    max-width: 95%;
                    max-height: 95%;
                }
            }

            .texture-info{
                background-color: rgb(66, 80, 101);
                padding: 0.2em 0;
                padding-left: 0.6em;;
                border-radius: 0 0 0.1em 0.1em;
                width: 100%;

                h4{
                    font-size: medium !important;
                }

                h3{
                    span{
                        font-size: medium !important;
                    }
                }
            }

            .extra-info{
                position: absolute;
                top:0;
                height: 100%;
                left: 0;
                right: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                z-index: 1;
                opacity: 0;
                transition: opacity 0.1s ease-out;
                text-align: center;

                h3{
                    font-size: medium !important;
                    max-width: 9em;
                    word-wrap: break-word;
                }

                div{
                    position: relative;
                    background-color: $primary-color;
                    padding: 0.5em 1.5em;
                    margin-top: 1em;
                    border-radius: 0.1em;
                    transition: transform 0.1s ease-out;
                    cursor: pointer;
                    color: $white-color;

                    &::before{
                        content: '';
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        border-radius: inherit;
                        box-shadow: 0 0.5em 0.6em hsla(0, 0, 0, 0.5);
                        opacity: 0;
                        transition: opacity 0.1s ease-out;
                    }

                    &:hover{
                        transform: translateY(-0.1em);

                        &::before{
                            opacity: 1;
                        }
                    }
                }
            }

            &::after{
                content: '';
                position: absolute;
                top:0;
                height: 100%;
                left: 0;
                right: 0;
                background-color: hsla(0, 0, 0, 0.8);
                border-radius: 0.1em;
                opacity: 0;
                transition: opacity 0.1s ease-out;
            }

            &:hover{
                .extra-info,
                &::after{
                    opacity: 1;
                }
            }

            &.type-deleted{

                pointer-events: none;

                &::after{
                    background-color: $warning-red-color;
                    opacity: 0.65;
                    .extra-info{
                        opacity: 0;
                    }
                }
            }

        }

        &::-webkit-scrollbar-track{
            box-shadow: inset 0 0 0.375em rgba(0,0,0,0.3);
            border-radius: 0.2em;
            background-color: $scroll-secondary-color;
        }

        &::-webkit-scrollbar{
            width: 0.75em;
        }

        &::-webkit-scrollbar-thumb{
            border-radius: 0.2em;
            box-shadow: inset 0 0 0.375em rgba(0,0,0,.3);
            background-color: $scroll-primary-color;
        }
    }

    #logs-wrapper{
        overflow-y: auto;
        height: 100%;
        display: block;
        padding: 0.5em 0.5em 0 0.5em;
        position: relative;
        overscroll-behavior: contain;
        background-color: darken($background-color, 5%);
        box-shadow: inset 0 0 0.9em hsla(0, 0, 0, 0.5);

        p{
            font-size: initial !important;
            font-weight: initial !important;
        }

        #clear-button{
            position: fixed;
            top: 16px;
            right: 40px;
            border-radius: 0 0 0.2em 0.2em;
            color: $white-color;
            $filter-button-color: rgb(109, 109, 109);
            background-color: $filter-button-color;
            padding: 0.5em 0.8em;
            cursor: pointer;
            transform: translateY(0);
            transition: all 0.15s ease-out;
            opacity: 1;
            box-shadow: 0 0.125em 0.4375em hsla(0, 0, 0, 0.5);
            font-size: small !important;
            font-weight: bold !important;

            &::before{	
                content: '';	
                position: absolute;	
                top: 0;	
                bottom: 90%;	
                left: 0;	
                right: 0;	
                background-color: $filter-button-color;	
                transition: all 0.15s ease-out;	
            }

            &::after{
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                border-radius: inherit;
                background-color: hsl(255, 255, 255);
                opacity: 0;
                transition: all 0.15s ease-out;
            }

            &:hover{
                transform: translateY(2px);
                &::after{
                    opacity: 0.10;
                    top: -2px;
                }
                &::before{
                    top: -2px;
                }
            }

            &:active{
                transform: translateY(0.1em);
                &::after{
                    opacity: 0.05;
                }
            }
        }

        &::-webkit-scrollbar-track{
            box-shadow: inset 0 0 0.375em rgba(0,0,0,0.3);
            border-radius: 0.2em;
            background-color: $scroll-secondary-color;
        }

        &::-webkit-scrollbar{
            width: 0.75em;
        }

        &::-webkit-scrollbar-thumb{
            border-radius: 0.2em;
            box-shadow: inset 0 0 0.375em rgba(0,0,0,.3);
            background-color: $scroll-primary-color;
        }
    }

    #options-panel{
        position: absolute;
        top: 1px;
        right: 2em;
        display: flex;
        transform: translateY(50%);
        padding: 0 0.3em;
        border-radius: 0.4em 0.4em 0 0;
        box-shadow: 0 -0.125em 0.4375em hsla(0, 0, 0, 0.3);
        transition: transform 0.25s ease-in-out;

        &::after{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgb(66, 80, 101);
            border-radius: inherit;
            z-index: -1;
        }

        #filter-buttons-group{
            display: flex;
            align-items: center;
            margin:0 0.5em;

            & > h4{
                display: inline-block;
                margin: 0.5em;
                font-size: small;
            }

            & > * {
                margin:0 0.3em;
            }

            // Hacky - Using px here instead to avoid em chained calculations
            .filter-button{
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 3.2px 3.2px 0 0;
                $filter-button-color: rgb(109, 109, 109);
                background-color: $filter-button-color;
                position: relative;
                padding: 0 12px 0 12px;
                cursor: pointer;
                transform: translateY(0);
                transition: all 0.15s ease-out;
                font-size: small;

                & > h4{
                    font-family: Arial, Helvetica, sans-serif !important;
                    font-size: small !important;
                }

                &:last-child{
                    margin-bottom: 0;
                }

                &::before{	
                    content: '';	
                    position: absolute;	
                    top: 90%;	
                    bottom: 0;	
                    left: 0;	
                    right: 0;	
                    background-color: $filter-button-color;	
                    transition: all 0.15s ease-out;	
                }

                &::after{
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    border-radius: inherit;
                    background-color: hsl(255, 255, 255);
                    opacity: 0;
                    transition: all 0.15s ease-out;
                }

                &:hover{
                    transform: translateY(-2px);
                    &::after{
                        opacity: 0.10;
                        bottom: -2px;
                    }
                    &::before{
                        background-color: $filter-button-color;
                        bottom: -2px;
                    }
                }

                &.active{
                    $filter-button-color: $filter-button-active-color;
                    &.toggled{
                        background-color: $filter-button-color;
                        &::before{
                            background-color: $filter-button-color;
                        }
                    }
                }
                &.deleted{
                    $filter-button-color: $filter-button-deleted-color;
                    &.toggled{
                        background-color: $filter-button-color;
                        &::before{
                            background-color: $filter-button-color;
                        }
                    }
                }
                &.normal{
                    $filter-button-color: $filter-button-normal-color;
                    &.toggled{
                        background-color: $filter-button-color;
                        &::before{
                            background-color: $filter-button-color;
                        }
                    }
                }
                &.kill{
                    $filter-button-color: $filter-button-kill-color;
                    &.toggled{
                        background-color: $filter-button-color;
                        &::before{
                            background-color: $filter-button-color;
                        }
                    }
                }
                &.logs{
                    $filter-button-color: $filter-button-logs-color;
                    &.toggled{
                        background-color: $filter-button-color;
                        &::before{
                            background-color: $filter-button-color;
                        }
                    }
                }
            }
        }
    }

    h3{
        font-size: medium !important;
    }

    &.toggled{
        transform: translateY(0);

        #toggle-chevron{
            transform: rotate(180deg);
        }

        #options-panel{
            transform: translateY(-100%);
        }
    }
}

