@media only screen and (max-width: 900px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 640px) {
  html {
    font-size: 10px;
  }
}

.warning-color {
  color: #d62929;
}

.display-none {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

#texture-monitor-container {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 1000;
  left: 0;
  bottom: 0;
  width: 100vw;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 17rem;
  padding: 1rem;
  padding-left: 2.5rem;
}

#texture-monitor-container .monitor-toggle {
  position: absolute;
  z-index: 1000;
  left: 1.5rem;
  top: 0.0625rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  height: 3.2rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.5rem 0.5rem 0 0;
  -webkit-box-shadow: 0 -0.125rem 0.4375rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 -0.125rem 0.4375rem rgba(0, 0, 0, 0.3);
  color: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0.95rem 1.2rem;
  cursor: pointer;
  text-shadow: 0 0 0.8rem #128ab9;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

#texture-monitor-container .monitor-toggle > * {
  pointer-events: none;
}

#texture-monitor-container .monitor-toggle span {
  background-color: #eeeeee;
  text-shadow: none;
  padding: 0.25rem 0.8rem;
  border-radius: 1rem;
  margin-left: 0.5rem;
  -webkit-box-shadow: 0 0 0.5rem #128ab9;
          box-shadow: 0 0 0.5rem #128ab9;
}

#texture-monitor-container .monitor-toggle #toggle-chevron {
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

#texture-monitor-container.toggled {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#texture-monitor-container.toggled #toggle-chevron {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#texture-monitor-container .entities-wrapper {
  overflow-y: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (9.375rem)[auto-fill];
      grid-template-columns: repeat(auto-fill, 9.375rem);
  height: 100%;
  width: 100%;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  padding: 0.79rem;
}

#texture-monitor-container .entities-wrapper .texture-entity {
  position: relative;
  height: 100%;
}

#texture-monitor-container .entities-wrapper .texture-entity .texture-wrapper {
  width: 9.375rem;
  height: 9.375rem;
  border: 0.0625rem solid #d62929;
  position: relative;
  background-image: linear-gradient(45deg, #c7c7c7 25%, transparent 25%), linear-gradient(-45deg, #c7c7c7 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #c7c7c7 75%), linear-gradient(-45deg, transparent 75%, #c7c7c7 75%);
  background-size: 1.875rem 1.875rem;
  background-position: 0 0, 0 0.9375rem, 0.9375rem -0.9375rem, -0.9375rem 0;
  background-color: #777777;
  border-radius: 0.3rem 0.3rem 0 0;
}

#texture-monitor-container .entities-wrapper .texture-entity .texture-wrapper .texture {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 95%;
  max-height: 95%;
}

#texture-monitor-container .entities-wrapper .texture-entity .texture-info {
  background-color: #3a5d69;
  padding: 0.5rem 0;
  padding-left: 0.6rem;
  color: #eeeeee;
  border-radius: 0 0 0.3rem 0.3rem;
  width: 100%;
}

#texture-monitor-container .entities-wrapper .texture-entity .texture-info h4 {
  margin-bottom: 0.2rem;
}

#texture-monitor-container .entities-wrapper .texture-entity .texture-info h3 span {
  font-size: 1.1rem;
}

#texture-monitor-container .entities-wrapper .texture-entity .extra-info {
  position: absolute;
  top: 0;
  height: 13.4rem;
  left: 0;
  right: 0;
  color: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 0.1s ease-out;
  transition: opacity 0.1s ease-out;
  text-align: center;
}

#texture-monitor-container .entities-wrapper .texture-entity .extra-info h3 {
  max-width: 7rem;
  word-wrap: break-word;
}

#texture-monitor-container .entities-wrapper .texture-entity .extra-info div {
  position: relative;
  background-color: #128ab9;
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
  border-radius: 1rem;
  -webkit-transition: -webkit-transform 0.1s ease-out;
  transition: -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out;
  transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
  cursor: pointer;
}

#texture-monitor-container .entities-wrapper .texture-entity .extra-info div::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: inherit;
  -webkit-box-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: opacity 0.1s ease-out;
  transition: opacity 0.1s ease-out;
}

#texture-monitor-container .entities-wrapper .texture-entity .extra-info div:hover {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
}

#texture-monitor-container .entities-wrapper .texture-entity .extra-info div:hover::before {
  opacity: 1;
}

#texture-monitor-container .entities-wrapper .texture-entity::after {
  content: '';
  position: absolute;
  top: 0;
  height: 13.4rem;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.3rem;
  opacity: 0;
  -webkit-transition: opacity 0.1s ease-out;
  transition: opacity 0.1s ease-out;
}

#texture-monitor-container .entities-wrapper .texture-entity:hover .extra-info, #texture-monitor-container .entities-wrapper .texture-entity:hover::after {
  opacity: 1;
}

#texture-monitor-container .entities-wrapper .texture-entity.type-deleted {
  pointer-events: none;
}

#texture-monitor-container .entities-wrapper .texture-entity.type-deleted::after {
  background-color: #d62929;
  opacity: 0.65;
}

#texture-monitor-container .entities-wrapper .texture-entity.type-deleted::after .extra-info {
  opacity: 0;
}

#texture-monitor-container .entities-wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  background-color: #eeeeee;
}

#texture-monitor-container .entities-wrapper::-webkit-scrollbar {
  width: 0.75rem;
}

#texture-monitor-container .entities-wrapper::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  -webkit-box-shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.3);
  background-color: #d62929;
}

#texture-monitor-container #edge-shadows-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 3.5rem;
  right: 3rem;
  overflow: hidden;
  pointer-events: none;
}

#texture-monitor-container #edge-shadows-container #edge-shadow-top {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0.3rem 2.2rem 1.2rem -1.5rem rgba(0, 0, 0, 0.8);
          box-shadow: 0.3rem 2.2rem 1.2rem -1.5rem rgba(0, 0, 0, 0.8);
  height: 100px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  opacity: 0.7;
}

#texture-monitor-container #edge-shadows-container #edge-shadow-top.hidden {
  opacity: 0;
}

#texture-monitor-container #edge-shadows-container #edge-shadow-bottom {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0.3rem -2.2rem 1.2rem -1.5rem rgba(0, 0, 0, 0.8);
          box-shadow: 0.3rem -2.2rem 1.2rem -1.5rem rgba(0, 0, 0, 0.8);
  height: 100px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  opacity: 0.7;
}

#texture-monitor-container #edge-shadows-container #edge-shadow-bottom.hidden {
  opacity: 0;
}

#texture-monitor-container #filter-buttons-group {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#texture-monitor-container #filter-buttons-group .filter-button {
  width: 3rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0 0.8rem 0.8rem 0;
  color: #eeeeee;
  position: relative;
  cursor: pointer;
  -webkit-transform: translateX(-0.5rem);
          transform: translateX(-0.5rem);
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

#texture-monitor-container #filter-buttons-group .filter-button:first-child {
  margin-bottom: 1.5rem;
}

#texture-monitor-container #filter-buttons-group .filter-button::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: inherit;
  background-color: black;
  opacity: 0;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

#texture-monitor-container #filter-buttons-group .filter-button:hover {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#texture-monitor-container #filter-buttons-group .filter-button:hover::after {
  opacity: 0.15;
}

#texture-monitor-container #filter-buttons-group .filter-button.flash::after {
  background-color: #eeeeee;
  opacity: 0.3;
}

#texture-monitor-container #filter-buttons-group .filter-button h2, #texture-monitor-container #filter-buttons-group .filter-button h4 {
  margin-left: 0.25rem;
}

#texture-monitor-container #filter-buttons-group #mode-button {
  background-color: #d62929;
  -webkit-box-shadow: 0 0.3rem 0 #801919;
          box-shadow: 0 0.3rem 0 #801919;
}

#texture-monitor-container #filter-buttons-group #type-button {
  background-color: #128ab9;
  -webkit-box-shadow: 0 0.3rem 0 #09455c;
          box-shadow: 0 0.3rem 0 #09455c;
}
/*# sourceMappingURL=textureMonitor.css.map */